# Authentication Tokens
export ADO_PAT=""
export GH_PAT=""

## Orgs
export SOURCE_ORG="mindfulrob"
export TARGET_ORG="robandpdx-volcano"

## Project
export SOURCE_TEAM_PROJECT="superservice"

## Repos
export SOURCE_REPO="superservice"
export TARGET_REPO="superservice"
export LOCK_SOURCE_REPO="false"